/* Navbar_Area_Here */

.navbar-brand{
    color: #594C8D !important;
    font-size: 30px !important;
    font-weight: bold;
}

.navbar-nav {
    padding: 20px 0px;
}

.nav-link {
    font-size: 17px !important;
    font-weight: 700 !important;
    padding: 0px 20px !important;
}

.nav_btn {
    padding: 10px 25px !important;
    font-size: 18px !important;
    background-color: #594C8D !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.navbar-toggler {
    background-color: #ffff !important;
}

/* Hero_Area_Here */

#hero_area {
    padding-top: 100px;
    padding-bottom: 50px;
}

.custom_width {
    padding: 50px !important;
}

.hero_content {
    h1 {
        color: #212529;
        line-height: 62px;
        font-size: 40px;
        font-weight: 900;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.hero_img img {
    width: 100%;
    height: 440px;
    border-radius: 5px;
}

.hero_btn {
    padding: 10px 30px !important;
    font-size: 18px !important;
    color: #594C8D !important;
    border-radius: 30px !important;
    border: 1px solid #594C8D !important;
}

.hero_btn:hover {
    background-color: #594C8D !important;
    color: #ffff !important;
}

/* Hero_Responsive_Area */

@media (max-width: 767px){
    .hero_content h1 {
        font-size: 30px;
        line-height: 48px;
    }

    .navbar-brand {
        font-size: 30px !important;
    }

    #hero_area {
        padding-top: 40px;
    }

    .hero_img img {
        height: auto;
    }
}

/* About_Area_Here */

#about_area {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(image/header.jpg);
    height: auto;
    background-position: center;
    background-size: cover;
    position: relative;
}

.about_img {
    img {
        border: 10px solid #9AB0C8;
        border-radius: 50px;
        height: 420px;
    }
}

.about_content {
    h5 {
        font-size: 20px;
        font-weight: 900;
        color: #594C8D;
    }
    h2 {
        color: #212529;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        margin-top: 30px;
    }
    span {
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 5px;
        color: #403c3c;
    }
    p {
        margin-top: 20px;
    }
}

.about {
    padding-bottom: 50px;
    h4 {
        background: #594C8D;
        display: inline-block;
        padding: 10px 25px;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;   
        margin-top: 50px;
    }
}

/* About_Responsive_Area */

@media (max-width: 767px){
    .about_img img {
        height: 300px;
    }

    .about h4 {
        margin-top: 200px;
    }

    .about_content {
        text-align: center;
        h2 {
            font-size: 28px;
        }
        span {
            font-size: 18px;
        }
    }
}

@media (max-width: 992px){
    .about_content {
        text-align: center;
    }
}

/* Service_Area_Here */

#service_area {
    padding-top: 50px;
    padding-bottom: 50px;
}

.service_content {
    p {
        font-weight: 400;
        opacity: .6;
        letter-spacing: .6px;    
    }
    h4 {
        background: #594C8D;
        display: inline-block;
        padding: 10px 25px;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        color: #ffff;   
    }
}

.service_img img {
    width: 100%;
}
.service_img {
    transition: all .3s;
}
.service_img:hover {
    opacity: .6;
}
/* service_img_six */
.service_img_six img {
    width: 100%;
    margin-top: -170px;
}

.service_img_six {
    transition: all .3s;
}
.service_img_six:hover {
    opacity: .6;
}

/* Service_Responsive_Area */

@media (max-width: 992px){
    .service_img_six img {
        margin-top: 0px;
        margin-left: 360px;
    }
}
@media (max-width: 767px){
    .service_img_six img {
        margin-left: 0px;
    }
}

/* Protfolio_Area_Here */

#protfolio_area {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%); 
}

.protfolio_img img {
    width: 100%;
    height: 260px;
    transition: all .5s;
}

.protfolio_img a i {
    overflow: hidden;
    font-size: 40px;
    padding: 10px 30px;
    background: #888181;
    position: absolute;
    margin-top: 8%;
    left: 14%;
    display: none;
    transition: ease-in .5s;
}

.protfolio_img a:hover {
    i {
        display: inline;
    }
    img {
        opacity: .6;
        margin-top: -10px;
    }
}

@media (max-width: 992px){
    .protfolio_img a i {
        margin-top: 10%;
        left: 43%;
    }
}
@media (max-width: 724px){
    .protfolio_img a i {
        margin-top: 22%;
        left: 32%;
    }
}

/* My_Pricing_Area_Here */

#pricing_area {
    padding-bottom: 50px;
}

.pricing-card {
    border: 1px solid;
    padding: 50px 0px 30px 0px;
    transition: all .3s;
}

.pricing-card:hover {
    margin-top: -10px;
}

.pricing-card-header img {
    width: 70px;
}

.pricing-card-body {
    h6 {
        font-size: 25px;
        font-weight: 900;
        color:#695aa6;    margin-top: 20px;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    h5 {
        font-size: 30px;
        font-weight: bold;
        span {
            font-size: 20px;
        }
    }
}

.card-body-list {
    p {
        color: #8F8F8F;
        font-size: 17px;
        i {
            color: red;
            font-size: 24px;
        }
    }
}

.card_btn {
    padding: 8px 20px;
    background-color: #695aa6;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-top: 30px; 
}

/* Here_Me_Area_Here */

#here_me_area {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #695aa6;
}

.here_me_content {
    margin-left: 25%;
    h6 {
        color: #ffff;
        font-size: 20px;
        font-weight: 900;
    }
    p {
        color: #ffff;
        font-size: 17px;
    }
}

.here_me_btn {
    font-weight: bold !important;
    font-size: 20px !important;
}

/* Here_Me_Responsive_Area_Here */

@media (max-width: 767px){
    .here_me_content {
        margin-left: 0px;
        text-align: center;
    }
}

/* Contact_Area_Here */

#contact_area {
    padding-top: 100px;
    background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%); 
}

.border_bottom {
    border-bottom: 3px solid rgb(183, 173, 173);
    padding-bottom: 80px;
}

.form-row {
    display: flex;
}

.form-group {
    padding: 0px 10px !important;
}

.form-control {
    font-weight: 600 !important;
    padding: 10px !important;
}

.write_message {
    padding-bottom: 100px !important;
}

.contact_btn {
    padding: 10px 30px !important;
    font-size: 18px !important;
    color: #594C8D !important;
    border: 1px solid #594C8D !important;
    border-bottom: 3px solid black !important;
}

.contact_btn:hover {
    background-color: #594C8D !important;
    color: #ffff !important;
}

/* Contact_Responsive_Area_Here */

@media (max-width: 767px){
    .form-row {
        display: grid;
    }
}

/* Footer_Area_Here */

#footer_area {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_icon {
    display: flex;
    justify-content: end;
    gap: 6px;

    li {
        list-style: none;
        width: 42px;
        height: 42px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid #594C8D;
        transition: all .3s;
    }
}

.footer_icon li:hover {
    background-color: #594C8D;
}

.footer_content p {
    color: #6a6c71;
    a {
        text-decoration: none;
        color: #594C8D;
    }
}

.footer_icon li a i {
    font-size: 19px;
    padding: 10px;
    color: #594C8D;
    transition: all .3s;
}

.footer_icon li a i:hover {
    color: #ffff;
}

/* Footer_Responsive_Area_Here*/

@media (max-width: 767px){
    .footer_content {
        text-align: center;
    }

    .footer_icon {
        justify-content: center;
    }
}